@import 'config';
@import 'utilities';
@import 'general_style';


// Header 
#header-home {
    #navbar {
        background: $light-color;
        overflow: hidden;
        padding: 2rem 0;
        position: fixed;
        top: 0;
        width: 100%;
    
        .container-large {
            display: flex;
            justify-content: space-between;
    
            #logo {
                height: 3.3rem;
                width: 3.3rem;
            }
    
            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 60%;
                min-width: 500px;
    
                li {
                    // padding: 0 1rem;
    
                    a {
                        font-weight: 500;
                        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    
                        &:hover {
                            color: $hover-color; 
                        }
                    }
                }
            }
        }
    } 

    .header-content {
        height: 60rem;
        background: $medium-color;
        background: $bg-img no-repeat center center/cover;

        .container {
            padding-top: 9rem;
            height: 100%;

            .top-container {
                padding-top: 3rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .promo {
                    color: $dark-color;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    padding: 2rem 0;

                    a {
                        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

                        i {
                            color: #fff;
                            background: $dark-color;
                            border-radius: 50%;
                            padding: 1.5rem;
                            cursor: pointer;
                            display: inline;
    
                        }

                        &:hover {
                            transform: scale(1.2);
                            opacity: 0.9;
                        }
                    }
    
    
                    p {
                        padding-left: 1rem;
                        font-weight: 700;
                    }
                }

                .topRight-content {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    color: $dark-color;
                    
                    .title {
                        width: 60%;
                        border-top: 2px solid $dark-color;
                        padding-top: 2rem;
                        margin-right: 3rem;
                        
                        h1 {
                            font-size: 4rem;
                            line-height: 3.8rem;
                        }
                    }

                    .date {
                        width: 20%;
                        background: rgba(255,255,255,0.5);
                        padding: 1rem;
                        font-weight: 600;
                    }
                }


            }

            .bottom-container {
                width: 50%;
                position: absolute;
                bottom: 0;
                background: $main-color;
                .box {

                }
            }

        }
    }

}
// Navbar