@import 'config';
@import 'utilities';
@import 'general_style';


// Header 
#header-home {
    #navbar {
        background: $light-color;
        overflow: hidden;
        padding: 2rem 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 200;
    
        .container-large {
            display: flex;
            justify-content: space-between;
    
            #logo {
                height: 3.3rem;
                width: 3.3rem;
            }
    
            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 60%;
                min-width: 500px;
    
                li {
                    // padding: 0 1rem;
    
                    a {
                        font-weight: 500;
                        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    
                        &:hover {
                            color: $hover-color; 
                        }
                    }
                }
            }
        }
    } 

    .header-content {
        height: 57rem;
        background: $medium-color;
        background: $bg-img no-repeat center center/cover;
        overflow: hidden;

        .container {
            padding-top: 9rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .top-container {
                padding-top: 3rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .promo {
                    color: $dark-color;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    padding: 2rem 0;

                    a {
                        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

                        i {
                            color: #fff;
                            background: $dark-color;
                            border-radius: 50%;
                            padding: 1.5rem;
                            cursor: pointer;
                            display: inline;
    
                        }

                        &:hover {
                            transform: scale(1.2);
                            opacity: 0.9;
                        }
                    }
    
    
                    p {
                        padding-left: 1rem;
                        font-weight: 700;
                    }
                }

                .topRight-content {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    color: $dark-color;
                    
                    .title {
                        width: 60%;
                        border-top: 2px solid $dark-color;
                        padding-top: 2rem;
                        margin-right: 3rem;
                        
                        h1 {
                            font-size: 4rem;
                            line-height: 3.8rem;
                            padding-top: 1.5rem;
                        }
                    }

                    .date {
                        width: 20%;
                        background: rgba(255,255,255,0.5);
                        padding: 1rem;
                        font-weight: 600;
                    }
                }


            }

            .bottom-container {
                width: 100%;
                padding: 2rem;
                padding-bottom: 12rem;
                // border: 3px solid red;
                width: 36%;
                background: $bg-color;
                color: #fff;
                .box {
                }
            }

        }
    }

}


// Section A: AS IT WAS BEFORE
#home {
    &-a {
        width: 100%;
        min-height: 35rem;
        background: url(../img/section1Background.jpg) no-repeat 50% 50%/cover;
        position: relative;
        display: flex;
        flex-direction: column;

        .text {
            max-width: 35rem;
            margin: 0 auto;

            h2 {
                color: $main-color;
                font-size: 3.1rem;
                padding-bottom: 1rem;
            }

            p {
                color: $secondary-color;

                span {
                    font-weight: 700;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255,255,255,0.6);
            z-index: 1;
        }
        & > * {
            z-index: 100;
        }

        .slideshow {
            width: 100%;
            padding: 0 3rem;
            margin: 0 auto;
            height: 20rem;
            margin-top: 2rem;
            // background: orange;
        }
          
          .gallery-cell {
            width: 500px;
            height: 300px;
            margin-right: 2rem;
            background: #8C8;
            counter-increment: gallery-cell;
            border-radius: 6px;
          }
          

        
          .flickity-prev-next-button {
            top: 130%;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            /* vertically center */
            transform: translateY(-50%);
          }
        
          .flickity-button {
              position: relative;
              margin: 1rem;
              margin-top: 4rem;
            background: rgba(23, 22, 26, 0.3);
            color: #fff;
          }
        
          .flickity-button:first-of-type {
            margin-left: 17.5%;
          }

          .flickity-page-dots {
              display: none;
          }


          .pic-1 {background: url(/dist/img/section1image1.jpg) no-repeat center center/cover;}
          .pic-2 {background: url(/dist/img/section1image2.jpg) no-repeat center center/cover;}
          .pic-3 {background: url(/dist/img/section1image3.jpg) no-repeat center center/cover;}
          .pic-4 {background: url(/dist/img/section1image4.jpg) no-repeat center center/cover;}
          .pic-5 {background: url(/dist/img/section1image5.jpg) no-repeat center center/cover;}
          .pic-6 {background: url(/dist/img/section1image6.jpg) no-repeat center center/cover;}
          .pic-7 {background: url(/dist/img/section1image7.jpg) no-repeat center center/cover;}
          .pic-8 {background: url(/dist/img/section1image8.jpg) no-repeat center center/cover;}
    }
}

.next-sect {
    height: 40rem;
    background: pink;
}